<section class="hero">
    <h2 class="visually-hidden">Films of the day</h2>


    <div class="swiper-container" id="hero-trending">

        <div class="swiper-wrapper"></div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</section>


<!-- ! змінити тип підключення на NPM -->
<!-- CDN (link & script видалю коли добавимо swiper через npm -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>