<div class="rating">
    <div class="rating__body">
        <div class="rating__active"></div>
        <div class="rating__items">
            <input type="radio" class="rating__item" value="1" name="rating">
            <input type="radio" class="rating__item" value="2" name="rating">
            <input type="radio" class="rating__item" value="3" name="rating">
            <input type="radio" class="rating__item" value="4" name="rating">
            <input type="radio" class="rating__item" value="5" name="rating">
        </div>
    </div>
    <div class="rating__value">8.5</div>
</div>