//     @media screen and (min-width: 576px) {
//         .hero-trend__details {
//             .hero-trend__title {
//                 font-size: 2.8rem;
//             }

//             .hero-trend__rating {
//                 font-size: 1.5rem;
//             }

//             .hero-trend__overview {
//                 font-size: 1.2rem;
//             }

//             .hero-trend__btn {
//                 font-size: 1.3rem;
//             }
//         }
//     }

//     @media screen and (min-width: 992px) {
//         .hero-trend__details {
//             .hero-trend__title {
//                 font-size: 3.5rem;
//             }

//             .hero-trend__rating {
//                 font-size: 1.8rem;
//             }

//             .hero-trend__overview {
//                 font-size: 1.4rem;
//             }

//             .hero-trend__btn {
//                 font-size: 1.5rem;
//             }
//         }
//     }
// }

// !----

// .swiper-wrapper {
//     position: absolute;
// }

//   .swiper-container {
//       width: 100%;
//       height: 100%;
//   }

//   .swiper-slide {
//     //   text-align: center;
//     //   font-size: 18px;
//       background: #fff;
//     //   height: 300px;
//   }

//   .swiper-pagination-wrap {
//     position: absolute;
//   }

//   .swiper-pagination-bullet {
//       width: 18px;
//       height: 18px;
//       margin: 0 2px;
//       background-color: #000;
//       opacity: 0.5;
//       border-radius: 100%;
//   }

//   .swiper-pagination-bullet-active {
//       opacity: 1;
//   }

//   .swiper-button-prev,
//   .swiper-button-next {
//       position: absolute;
//       top: 50%;
//       width: 30px;
//       height: 30px;
//       margin-top: -15px;
//       z-index: 10;
//       cursor: pointer;
//   }

//   .swiper-button-prev {
//       left: 100px;
//       background-image: url('../images/hero/left-arrow.png');
//   }

//   .swiper-button-next {
//       right: 10px;
//       background-image: url('../images/hero/left-arrow.png');
//   }


.hero {
    max-width: 1280px;
    margin: 0 auto;
}

.hero-trend__wrap {
    position: relative;
    height: 660px;
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
}

.hero-trand__image {
    position: absolute;
    left: 30%;
    height: 100%;
    width: 100%;
    background-size: contain;
    // background-repeat: no-repeat;
    // background-position-x: 50%;
    // background-position-y: 50%;
}

.hero-trend__info {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(../images/hero/hero-bgd-dark-desktop-1x.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 118px;
    padding-left: 32px;
}

.hero-trend__details {
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 100%;
    max-width: 40%;
    padding: 0 20px;
}

.hero-trend__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    display: flex;
    align-items: center;
    margin-bottom: 17.5px;
}

.hero-trend__rating {
    margin-bottom: 30.5px;
}

.hero-trend__overview {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #F8F8F8;
    margin-bottom: 36px;
}

.hero-trend__btn {
    padding: 12px 24px;

    width: fit-content;
    max-width: 200px;
    height: 48px;

    /* linear */
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border-radius: 74px;
    border: none;

    cursor: pointer;
    transition: all 0.3s ease;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #111111;
}

.hero-trend__btn:hover {
    background-color: #e53935;
}