// ! styles for SWIPER
.swiper-container {
  height: 660px;

  position: relative;

  --swiper-theme-color: linear-gradient(
    141.22deg,
    #ffc226 9.4%,
    #f84119 91.91%
  );
  --swiper-navigation-color: #b7b7b7;
  --swiper-pagination-bullet-inactive-color: transparent;
  // --swiper-pagination-bullet-active-color: transparent;
  --swiper-pagination-bottom: 5%;
  --swiper-navigation-top-offset: 92%;
  --swiper-navigation-sides-offset: 8%;

  --swiper-pagination-bullet-size: 40px;
  --swiper-navigation-size: 28px;

  --swiper-pagination-bullet-horizontal-gap: 8px;

  --swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  border: 1px solid white;
  line-height: 40px;
}

.swiper-container .swiper-horizontal > .swiper-pagination-bullets,
.swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-container .swiper-pagination-custom,
.swiper-container .swiper-pagination-fraction {
  left: -30%;
}

.swiper-container .swiper-button-prev {
  left: 8%;
  // right: 40%;
}
.swiper-container .swiper-button-next {
  left: 31%;
  // right: 40%;
}

.swiper-pagination {
  color: #b7b7b7;
}

// ! styles for HERO
.hero {
  max-width: 1280px;
  margin: 0 auto;
}

.hero-trend__wrap {
  position: relative;
  height: 660px;
  width: 100%;
  max-width: 1280px;
  overflow: hidden;
}

.hero-trand__image {
  position: absolute;
  left: 30%;
  height: 100%;
  width: 100%;
  background-size: contain;
  // background-repeat: no-repeat;
  // background-position-x: 50%;
  // background-position-y: 50%;
}

.hero-trand__image-back {
  background-image: url('../images/hero/hero-bgd-stranger-desktop-2x.jpg');
}

.hero-trend__info {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/hero/hero-bgd-dark-desktop-1x.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-left: 32px;
}

.hero-trend__details {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
  max-width: 40%;
  padding: 0 20px;
}

.hero-trend__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */
  display: flex;
  align-items: center;
  margin-bottom: 17.5px;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // max-width: 100%;
  // display: inline-block;
  // width: 100%;
  // text-align: center;
}

.hero-trend__rating {
  margin-bottom: 30.5px;
}

.hero-trend__overview {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #f8f8f8;
  margin-bottom: 36px;
  // /* Set a fixed width for the container */
  // width: 300px;
  // /* Set the text to overflow with an ellipsis when it exceeds the container width */
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.hero-trend__btn {
  padding: 12px 24px;

  width: fit-content;
  max-width: 200px;
  height: 48px;

  /* linear */
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  border: none;

  cursor: pointer;
  transition: all 0.3s ease;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #111111;
}

.hero-trend__btn:hover {
  background-color: #e53935;
}
